.header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .conteudo{
    background-color: #FBB03B;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 100px;
  }
  .tabelaBr{
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .tabelaBr tr:hover{
    background-color: rgb(189, 130, 21);
    cursor: pointer;
  }
  th, td {
    border: 0.5px solid rgb(189, 130, 21); 
    padding: 8px;
    text-align: center;
  }
  .rebaixados{
    color: red
  }
  .sobreBrasileiro{
    text-align: left;
    margin-top: 20px;
  }