.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.conteudo {
  background-color: #FBB03B;
  padding-top: 30px;
  margin: 20px;
  border-radius: 15px;
  text-align: center;
}

.textosSobre {
  padding: 20px 50px;
  text-align: justify;
}

#sobre {
  text-align: left;
  padding-left: 50px;
}

.listasVolei {
  display: flex;
  justify-content: space-around;
}
