.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  }
  
  .conteudo{
    text-align: center;
    background-color: #FBB03B;
    padding-top: 30px;
    margin:20px;
    border-radius: 15px;
  }
  #sobre{
    text-align: left;
    padding-left: 30px ;
  }