.App{
    background-color: #FFFFFF;
  }
  .App-header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
  }
  .Cards{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 200px;
  }
  
  #beisebol{
    background-color: #FBB03B;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px 30px;
    text-align: justify;
    font-family: 'Inter', serif;
  }
  #futebol{
    background-color: #FBB03B;
    margin-top: 100px;
    padding: 20px 30px;
    text-align: justify;
    font-family: 'Inter', serif;
  }
  #futAmericano{
    background-color: #FBB03B;
    margin-top: 100px;
    padding: 20px 30px;
    text-align: justify;
    font-family: 'Inter', serif;
  }
  #tenis{
    background-color: #FBB03B;
    margin-top: 100px;
    padding: 20px 30px;
    text-align: justify;
    font-family: 'Inter', serif;
  }